@import "tailwindcss";

@theme {
  --color-appDark: #0F172A;
  --color-appGray: #1E293B;
  --color-appText: #F8FAFC;
  --color-brandBlue: #3B82F6;
  --color-aiPurple: #8B5CF6;
  --color-successGreen: #10B981;
}

@layer base {
  body {
    background-color: var(--color-appDark);
    color: var(--color-appText);
  }
}

/* Hide scrollbars cleanly */
::-webkit-scrollbar {
  display: none;
}